.home-container {
  padding: 50px;
  font-size: 18px;
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: 0px 4px 20px black;
    border-radius: 20px;
}

.home-content-container {
    align-content: center;
    text-align: center;
}

.home-image-container {
  padding: 40px 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}
